body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg,green,rgb(94, 255, 0));
}
.screen{
   background-color: rgba(0, 0, 0, 0.9);
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 80px;
   border-radius: 15px;
   color: white;
}
input{
   padding: 15px;
   border: none;
   outline: none;
   font-size: 15px;
}
button{
  background-color:green ;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
button:hover{
   background-color: rgb(0, 172, 0);;
}